CORS_ORIGIN=
APP_PORT=
CONTAINER_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_CONTAINER_PORT=



WEBSK_PORT=
OPENAI_API_KEY=

SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
SWAGGER_TAG=